@charset "utf-8";
/*-------公共样式----------*/
html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
*{margin:0;padding:0;}
body{background:#fdfdfd;}
ul,ol,li{list-style:none;}
a,img{border:none; outline-style:none;}
a{text-decoration:none;}
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,address,img,
dl,dt,dd,ol,nav,ul,nav li,label,article,aside,
footer,header,menu,nav,output,time,mark,audio,video{
   
    font-family:"微软雅黑" ;
    color:#666;
}
body,html{height: 100%;overflow-x: hidden;}


.gewaraEnd{width: 100%;height: 100%;background: url(../images/duihuanquan.png) no-repeat;background-size: 100% 100%;}

/*单独页面*/

.fifTicket{
	font-size: 1.109rem;
	color: #ad3738;
	padding-top:50.5vh;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: center;
	-webkit-justify-content: center;
	}
.tenTicket{
	font-size: 1.109rem;
	color: #ad3738;
	padding-top:50.5vh;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: center;
	-webkit-justify-content: center;
}

/*grwara01*/
.gewaraBanner{width: 100%;}
.gewaraBanner img{
	display: block;
	width: 100%;
}
.gewaraFooter{
	width: 100%;
	position: relative;
	
}
.gewaraFooter img{
	display: block;
	width: 100%;
}

.gewaraData{
	position: absolute;
	z-index: 10;
	width: 4.95rem;
	height: 1.35rem;
	background: url(../images/button.png) no-repeat;
	background-size:100% 100%;
	left: 50%;
	margin-left: -2.475rem;
	top: 3%;
}
.mengceng{
	display: none;
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: black;
	opacity: .8;
	left: 0;
	top: 0;
}
.chuang{
	display: none;
	position: fixed;
	z-index: 66666666;
	left: 50%;
	margin-left: -2.62rem;
	top: 50%;
	margin-top: -2.59rem;
	width: 5.24rem;
	height: 5.18rem;
	background: url(../images/kuang.png) no-repeat;
	background-size: 100% 100%;
}
.phoneText01{
	display: block;
	width: 3.2rem;
	height: 0.6rem;
	border: none;
	outline: none;
	position: absolute;
	z-index: 900000000;
	left: 25%;
	top: 30%;
	font-size: 16px;
	padding-left: 5px;
}
.sellphone01{
	width: 3.93rem;
	height: 0.84rem;
	position: absolute;
	left: 50%;
	margin-left: -1.965rem;
	top: 50%;
	z-index: 9999999999999999;
	background: url(../images/b2.png) no-repeat;
	background-size: 100% 100%;
}











































