@charset "utf-8";
html,body,div{
	padding:0;
	margin:0;
}
body{
	font-family: "microsoft yahei", "微软雅黑";
}
a{
	text-decoration: none;
}
img{
	border:none;
}
.page .sec01,.page .sec02,.page .sec03,.page .sec04,.page .sec05,.page .sec06,.page .sec07{
	width:100%;
    height:1019px;
    position:relative;
    overflow: hidden;
}
.page img{
    position:absolute;
    left:50%;
    margin-left:-849.5px;
}
.page .sec02{
	height:1179px;
}
.txt_top{
	position:relative;
	top:881px;
	width:570px;
	left:50%;
	margin-left:-285px;
}
#tel{
	width:370px;
	height:64px;
	border-radius:20px;
	display:inline-block;
	position:absolute;
	padding-left:20px;
	font-size:28px;
	border:none;
}
.getCode{
	width:169px;
	height:64px;
	background:url(../images/button-1.png) no-repeat;
	background-size:100% 100%;
	display:inline-block;
	margin-top:10px;
	position:absolute;
	top:-9px;
	left:400px;
}
}
.alist{
	position:absolute;
	top:120px;
	left:50%;
	margin-left:-115px;
	z-index:999;
}
.alist a.active{
	color:#FFFFFF;
}
.alist a{
	color:#FCDB00;
	text-decoration: underline;
	font-size:18px;
	margin-right:35px;
}
.more{
	display:inline-block;
	text-align:center;
	text-decoration: underline;
	color:#FCDB00;
	position:absolute;
	bottom:5%;
	left:50%;
	font-size:20px;
	margin-left:-60px;
}
.page .sec03{
	height:1178px;
}
.page .sec04{
	height:1176px;
}
.page .sec05{
	height:1205px;
	position:relative;
}
.page .sec06{
	height:1517px;
}
#btn_now{
	position:absolute;
	width:328px;
	height:111px;
	display:block;
	background: url(../images/button-3.png) no-repeat;
	background-size:100% 100%;
	bottom: 54px;
    left: 56%
}
.page .sec07{
	height:918px;
}
ul.phoneList {
	position:absolute;
	top:230px;
	width:1000px;
	left:50%;
	margin-left:-500px;
	z-index:1000;
}
ul li{
	list-style: none;
	width:221px;
	height:420px;
	float:left;
	margin-right:26px;
	text-align: center;
}
ul.phoneList li span{
	display:block;
	width:196px;
	height:344px;
	background-size: 100% 100%;
}
ul.phoneList li a.pic-btn{
	position:absolute;
	display:block;
	width:221px;
	height:301px;
	background:none;
}
ul li .phone01{
	background:url(../images/apple/icon_07.png) no-repeat;
}
ul li .phone02{
	background:url(../images/apple/icon_09.png) no-repeat;
}
ul li .phone03{
	background:url(../images/apple/icon_11.png) no-repeat;
}
ul li .phone04{
	background:url(../images/apple/icon_13.png) no-repeat;
}
ul li .phone05{
	background:url(../images/apple/icon_19.png) no-repeat;
}
ul li .phone06{
	background:url(../images/apple/icon_20.png) no-repeat;
}
ul li .phone07{
	background:url(../images/apple/icon_21.png) no-repeat;
}
ul li .phone08{
	background:url(../images/apple/icon_23.png) no-repeat;
}
ul.sx li .phone01{
	background:url(../images/sx/phone_PC_30.png) no-repeat;
}
ul.sx li .phone02{
	background:url(../images/sx/phone_PC_32.png) no-repeat;
}
ul.sx li .phone03{
	background:url(../images/sx/phone_PC_34.png) no-repeat;
}
ul.sx li .phone04{
	background:url(../images/sx/phone_PC_36.png) no-repeat;
}
ul.sx li .phone05{
	background:url(../images/sx/phone_PC_42.png) no-repeat;
}
ul.sx li .phone06{
	background:url(../images/sx/phone_PC_43.png) no-repeat;
}
ul.sx li .phone07{
	background:url(../images/sx/phone_PC_44.png) no-repeat;
}
ul.sx li .phone08{
	background:url(../images/sx/phone_PC_46.png) no-repeat;
}
ul.hw li .phone01{
	background:url(../images/huawei/phone_PC_76.png) no-repeat;
}
ul.hw li .phone02{
	background:url(../images/huawei/phone_PC_78.png) no-repeat;
}
ul.hw li .phone03{
	background:url(../images/huawei/phone_PC_80.png) no-repeat;
}
ul.hw li .phone04{
	background:url(../images/huawei/phone_PC_82.png) no-repeat;
}
ul.hw li .phone05{
	background:url(../images/huawei/phone_PC_88.png) no-repeat;
}
ul.hw li .phone06{
	background:url(../images/huawei/phone_PC_89.png) no-repeat;
}
ul.hw li .phone07{
	background:url(../images/huawei/phone_PC_90.png) no-repeat;
}
ul.hw li .phone08{
	background:url(../images/huawei/phone_PC_92.png) no-repeat;
}
ul.xm li .phone01{
	background:url(../images/xm/phone_PC_53.png) no-repeat;
}
ul.xm li .phone02{
	background:url(../images/xm/phone_PC_55.png) no-repeat;
}
ul.xm li .phone03{
	background:url(../images/xm/phone_PC_58.png) no-repeat;
}
ul.xm li .phone04{
	background:url(../images/xm/phone_PC_60.png) no-repeat;
}
ul.xm li .phone05{
	background:url(../images/xm/phone_PC_66.png) no-repeat;
}
ul.xm li .phone06{
	background:url(../images/xm/phone_PC_67.png) no-repeat;
}
ul.xm li .phone07{
	background:url(../images/xm/phone_PC_68.png) no-repeat;
}
ul.xm li .phone08{
	background:url(../images/xm/phone_PC_70.png) no-repeat;
}
ul li a{
	position:absolute;
	display:block;
	background:url(../images/button-2.png) no-repeat;
	background-size:100% 100%;
	margin-left:50.5px;
}
ul li .btns,ul li a{
	width:115px;
	height:58px;
	margin-top:20px;
}

.pop{
	display:none;
	width:356px;
	height:460px;
	background:url(../images/tankuang.png) no-repeat;
	background-size: 100% 100%;
	position: fixed;
	top:14%;
	left:50%;
	margin-left:-178px;
	z-index:9999;
}
#cardid{
	border:none;
	width:180px;
	margin-top:290px;
	margin-left:80px;
	font-size:28px;
	color:#FCDB00;
}
#mai{
	display:block;
	width:240px;
	height:76px;
	background:url(../images/button-5.png) no-repeat;
	background-size: 100% 100%;
	margin-top:15px;
	margin-left:55px;
}