@charset "utf-8";
/*-------公共样式----------*/
html, body {
        position: relative;
        height: 100%;
        overflow-x: hidden;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
*{margin:0;padding:0;}
body{background:#fdfdfd;}
ul,ol,li{list-style:none;}
a,img{border:none; outline-style:none;}
a{text-decoration:none;}
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,address,img,
dl,dt,dd,ol,nav,ul,nav li,label,article,aside,
footer,header,menu,nav,output,time,mark,audio,video{
   
    font-family:"微软雅黑" ;
    color:#666;
}

body,html{
	width: 100%;
}
.banner{width: 100%;}
.banner img{width: 100%;display: block;}

.main{width: 100%;position: relative;}
.moreT{
	position: absolute;
	z-index: 2000000000;
	display: block;
	width: 1.64rem;
	height: 0.48rem;
	background: url(../images/10.png) no-repeat;
	background-size: 100% 100%;
	left: 50%;
	margin-left: -0.82rem;
	top: 104%;
}
.phoneContent{
	position: absolute;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	margin-top: 4rem;
	z-index: 200;
	
}
.mobile{width: 44.13%;margin-left: 4%;position: relative;}
.mobile img{
	width: 100%;
	display: block;
	margin-bottom: 18px;
}
.mobileBtn{
	position: absolute;
	width:1.3rem ;
	height:0.46rem ;
	background: url(../images/9.png) no-repeat;
	background-size:100% 100%;
	left: 45%;
	top: 77%;
}

.main1{width: 100%;}
.main1 img {width: 100%;display: block;}

.main2{width: 100%;}
.main2 img{width: 100%;display: block;}

.foot1{width: 100%;position: relative;}
.startLifeM{
		position: absolute;
		z-index: 1000;
		display: block;
		width: 4.77rem;
		height: 1.86rem;
		background: url(../images/11.png) no-repeat;
		background-size: 100% 100%;
		left: 50%;
		margin-left: -2.385rem;
		top: 162%;
}
.foot1 img{width: 100%;display: block;}

.foot2{width: 100%;}
.foot2 img{width: 100%;display: block;}

.foot3{width: 100%;}
.foot3 img{width: 100%;display: block;}










