body,html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body,html,div,li,ul,p,input{
	box-sizing:border-box ;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.thewhole{
	width: 100%;
	height: 100%;
	background-color: #f5e440;
}
.thewhole .slogan{
	position: absolute;
	width: 14.2rem;
	height:4.93rem ;
	background: url(../../images/demo2/slogan.png) no-repeat;
	background-size: 100% 100%;
	left: 50%;
	margin-left: -7.1rem;
	top: 2%;
}
.down{
	width: 14.2rem;
	position: absolute;
	left: 50%;
	margin-left: -7.1rem;
	top: 29%;
}
.down .label1{
	width: 6.976rem;
	height: 0.75rem;
	background: url(../../images/demo2/inputwaihao.png) no-repeat;
	background-size: 100% 100%;
}
.down .label2{
	width: 6.976rem;
	height: 0.75rem;
	background: url(../../images/demo2/inputpinzhong.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 0.7rem;
}
.databox{
	margin-top: 0.576rem;
	width: 100%;
	height: 2.13rem;
	position: relative;
}
.name::-webkit-input-placeholder { color:#e5652a; }
.name{
	border: 0.12rem solid #000000;
	width: 100%;
	height: 2.13rem;
	line-height: 2.13rem;
	display: block;
	font-size: 0.768rem;	
	padding-left: 0.64rem;
}
/*input框三种状态*/
/*1、未填写提交，不能为空*/
.databox .color1{
	border-color: #e5652a;
}
/**/
.databox .thisleft{
	height: 2.13rem;
	line-height: 2.13rem;
	position: absolute;
	top: 0;
	right: 1rem;
}
.databox .thisleft li{
	font-size: 0.64rem;
	float: left;
}
.databox .thisleft .active{
	color: #e5652a;
}
.typeContent{
	margin-top: 0.64rem;
	width: 100%;
	height: 8.53rem;
	position: relative;
	display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-moz-box-orient:horizontal;-webkit-box-orient:horizontal;-o-box-orient:horizontal;box-orient:horizontal;
	-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;
}
.typeContent li{
	width:4.48rem ;
	height:7.53rem ;
	background-color: #a0a0a0;
}
.typeContent .active{
	background-color: #000000;
}
.typeContent li p:nth-child(1){
	margin: 0 auto;
	width:4.27rem ;
	height: 6rem;
	background: red;
}
.typeContent li p:nth-child(2){
	margin: 0.5rem auto;
	background: green;
}






