@charset "utf-8";

html,
body,
ul,li,
p,
div,img{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
img{
    border:none;
}
body{
    width:100%;
    overflow-x: hidden;
}
.top,.middle,.foot{
    width:100%;
    height:750px;
    position:relative;
}
.top img{
    position:absolute;
    left:50%;
    margin-left:-960px;
}
.middle{
	height:810px;
}
.middle img{
    position:absolute;
    left:50%;
    margin-left:-960px;
}
.foot{
	height:694px;
}
.foot img{
    position:absolute;
    left:50%;
    margin-left:-960px;
}
